/* --- Base --- */
html, body, body > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

/* --- Header --- */
header {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    color: black;
    font-size: 20px;
}

header > .logo-container {
    display: block;
    box-sizing: border-box;
    height: 200px;
}

header > .logo-container > img.logo {
    height: inherit;
}

header nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    position: relative;
    background-color: white;
}

header nav .navbar-toggler {
    display: none;
    height: 80px;
}

header nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 20px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
}

header nav ul li a:active,
header nav ul li a:focus,
header nav ul li a:hover {
    color: grey !important;
    text-decoration: none;
}

/* --- Main --- */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: right;
    flex: 1 0 auto;
    font-family: cursive;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

/* --- Pages: Home --- */
main.home .col-landing-image img {
    width: 100%;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

main.home .col-landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

/* --- Image: Animation --- */
@-webkit-keyframes image-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes image-fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .image-fade-in {
    -webkit-animation-name: image-fade-in;
    animation-name: image-fade-in;
 }

/* --- Footer --- */
footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-shrink: 0;
    
}

/* --- Titles --- */
h1 {
    text-align: center;
    text-emphasis: none;
}

h2 {
    text-align: center;
}


/* --- Components --- */

.carousel-container {
    margin-left: -15px;
    margin-right: -15px;
}

.carousel-container,
.carousel-container .carousel,
.carousel-container .carousel .carousel-inner,
.carousel-container .carousel .carousel-inner .carousel-item img {
    height: 480px;
}

/* --- Media Queries --- */
@media all and (max-width: 767px) {

    .carousel-container {
        margin-left: -80px;
        margin-right: -80px;
    }

    .carousel-container,
    .carousel-container .carousel,
    .carousel-container .carousel .carousel-inner,
    .carousel-container .carousel .carousel-inner .carousel-item img {
        height: 380px;
    }
}

@media all and (max-width: 690px)  {
    .carousel-container {
        margin-left: -25px;
        margin-right: -25px;
    }

    .carousel-container,
    .carousel-container .carousel,
    .carousel-container .carousel .carousel-inner,
    .carousel-container .carousel .carousel-inner .carousel-item img {
        height: 320px;
    }
}

@media all and (max-width: 600px)  {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
    }

    header .logo-container {
        height: 80px;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    header nav .navbar-toggler {
        display: flex;
    }

    header nav .navbar-toggler .navbar-toggler-button {
        appearance: none !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        border-radius: 50px;
        border: 2px solid grey;
        height: 50px;
        width: 50px;
        padding: 12px 12px;
        outline: none !important;
    }

    header nav .navbar-toggler .navbar-toggler-button:hover {
        background-color: lightgray;
    }

    header nav .navbar {
        display: none;
        width: 100%;
    }

    header nav .navbar.open {
        display: flex;
        flex-direction: column;
        left: 0;
        top: 150px;
        position: fixed;
        background-color: white;
        padding-top: 0;
        padding-bottom: 0;
    }

    header nav .navbar ul.navbar-links {
        display: flex;
        flex-direction: column;
    }

    header nav .navbar ul.navbar-links li {
        margin: 5px 0 5px 0;
    }

    header nav .navbar ul.navbar-links a {
        font-size: 16px;
        color: black;
    }

    main.home h1 {
        font-size: 30px;
    }

    main.home h2 {
        font-size: 26px;
    }

    .carousel-container {
        margin-left: -15px;
        margin-right: -15px;
    }

    .carousel-container,
    .carousel-container .carousel,
    .carousel-container .carousel .carousel-inner,
    .carousel-container .carousel .carousel-inner .carousel-item img {
        height: 280px;
    }
}

@media all and (max-width: 420px)  {
    .carousel-container,
    .carousel-container .carousel,
    .carousel-container .carousel .carousel-inner,
    .carousel-container .carousel .carousel-inner .carousel-item img {
        height: 220px;
    }
}

@media all and (max-width: 320px)  {
    .carousel-container,
    .carousel-container .carousel,
    .carousel-container .carousel .carousel-inner,
    .carousel-container .carousel .carousel-inner .carousel-item img {
        height: 180px;
    }
}
