html, body, body > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header {
    text-align: center;
    display: flex;
    width: 100%;
    padding-top: 20px;
    color: black;
    font-size: 20px;
}

header > .logo-container {
    display: block;
    box-sizing: border-box;
    height: 200px;
}

header > .logo-container > img.logo {
    height: inherit;
}

header nav {
    text-align: center;
    display: block;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    position: relative;
    background-color: white;
}

header nav .navbar-toggler {
    display: none;
    height: 80px;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}


main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: right;
    flex: 1 0 auto;
    font-family: cursive;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

li {
    display: inline;
    margin: 20px;
}

li a {
    color: black;
    text-decoration: none;
}

footer {
    display: flex;
    color: gray;
    text-align: left;
    font-size: 20px;
    padding-top: 50px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-shrink: 0;
    
}


@media all and (max-width: 600px)  {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
    }

    header .logo-container {
        height: 80px;
    }

    header nav {
        width: 80px;
    }

    header nav .navbar-toggler {
        display: flex;
    }

    header nav .navbar {
        display: none;
        width: 100%;
    }

    header nav .navbar.open {
        display: flex;
        flex-direction: column;
        left: 0;
        top: 95px;
        position: fixed;
        background-color: white;
    }

    header nav .navbar .navbar-links {
        display: flex;
        flex-direction: column;
    }

    header nav .navbar .navbar-links a {
        color: black;
    }
}

h1 {
    text-align: center;
    text-emphasis: none;
}

h2 {
    text-align: center;
}